{% extends "base.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Pilotos</li>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if "permissão" in message|lower %}
                <script>
                    $(document).ready(function() {
                        $(".modal-body").text("{{ message }}");
                        $("#messageModal").modal('show');
                    });
                </script>
            {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <style>
        .btn-extra-small {
            padding: 0px 2px;
            font-size: 11.5px;
            line-height: 1.5;
            margin-bottom: -50;
        }
    </style>
    <div style="
        display: flex; 
        justify-content: flex-end;
        padding: 0px 2px;
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: -70;">
        <a href="/" class="btn btn-primary btn-sm">Voltar</a>
    </div>
    <div class="page_header">
        <h2>Pilotos</h2>
    </div>
    <a class="btn btn-success mr-3" href="/api/pilotos">API</a>
    <a class="btn btn-primary" href="/view/pilotos/criar/">Adicionar Pilotos</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nacionalidade</th>    
                <th>Carro</th>   
                <th>Ativo</th>
            </tr>
        </thead>
        <tbody>
        {% for item in piloto %}
            <tr>
                <td><a href="/view/pilotos/detail/{{ item.pk }}">{{ item.nome }}</a></td>
                <td>{{ item.nacionalidade }}</td>
                <td>{{ item.carro }}</td>
                <td>
                    {% if item.ativo %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    <form method="POST" action="/view/pilotos/{{ item.pk }}/deletar/">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-extra-small">Excluir</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
