{% extends "base.html" %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/view/pilotos" style="color: rgb(164, 64, 64);">Pilotos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
{% endblock %}
{% block content %}
    <style>
        .button-container {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    </style>
    <div style="
        display: flex; 
        justify-content: flex-end;
        padding: 0px 2px;
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: -70;">
        <a class="btn btn-success" href="/api/pilotos/{{ piloto.pk }}">API</a>
    </div>
    <a class="btn btn-primary" href="/view/pilotos/">Voltar</a>
    <a class="btn btn-primary" href="/view/pilotos/{{ piloto.pk }}/editar/">Editar</a>
    <br></br>
    <dl class="dl-horizontal">
        <dt><h4><strong>Nome do Piloto:</dt></h4></strong>
        <dd><h4><strong>{{ piloto.nome }}</dd></strong></h4>

        <dt>Data de Nascimento:</dt>
        <dd>{{ piloto.data_de_nascimento|default:"-" }}</dd>

        <dt>Nacionalidade:</dt>
        <dd>{{ piloto.nacionalidade|default:"-" }}</dd>

        <dt>Detalhes(res):</dt>
        <dd>{{ piloto.detalhes|default:"-" }}</dd>

        <dt>Ativo:</dt>
        <dd>{% if piloto.ativo %}Sim{% else %}Não{% endif %}</dd>

        <dd class="button-container">
            <form method="POST" action="/view/pilotos/{{ piloto.pk }}/deletar/">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-extra-small">Excluir</button>
            </form>
        </dd>
    </dl>
{% endblock %}