{% extends "base.html" %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Equipes</li>
{% endblock %}
{% block content %}
    <style>
        .btn-extra-small {
            padding: 0px 2px;
            font-size: 11.5px;
            line-height: 1.5;
            margin-bottom: -50;
        }
    </style>
    <div style="
        display: flex; 
        justify-content: flex-end;
        padding: 0px 2px;
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: -70;">
        <a href="/" class="btn btn-primary btn-sm">Voltar</a>
    </div>

    <div class="page_header">
        <div class="row">
            <h2>Equipes</h2>
        </div>
    </div>
    <a class="btn btn-success" href="/api/equipes">API</a>
    <a class="btn btn-primary" href="/view/equipes/criar">Adicionar Equipes</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Fundador</th>
            <th>Ativa</th>
        </tr>
        </thead>
        <tbody>
        {% for item in equipe %}
            <tr>
                <td><a href="/view/equipes/detail/{{ item.pk }}">{{ item.nome }}</a></td>
                <td>{{ item.fundador }}</td>
                <td>
                    {% if item.ativa %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    <form method="POST" action="/view/equipes/{{ item.pk }}/deletar/">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-extra-small">Excluir</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
