{% load static %}
<html lang="pt">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Gerenciador Equipes Fórmula 1</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    </head>
    <body style="background: url('{% static 'imagens/fundo.jpg' %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                        <div style="width: 100%; text-align: center;">
                            <h1>Gerenciador Fórmula 1</h1>
                        </div>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <a href="/admin" class="btn btn-danger" style="font-weight: bold; margin-right: 20px;">Painel Admin</a>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="btn btn-default btn-sm" style="color:brown; font-weight: bold;">LOG OUT</a>
                        {% endif %}
                    </div><!-- navbar-header -->
                </div><!-- container-fluid -->
            </nav> <!-- Navbar -->

            <nav aria-label="breadcrumb" style="margin-top: -20px; margin-bottom: -27px;">
                <ol class="breadcrumb" style="background-color: rgba(255, 255, 255, 0.0); font-weight: bold;">
                    <li class="breadcrumb-item"><a href="/" style="color: rgb(164, 64, 64);">Home</a></li>
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>

            <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.78);">
                {% block content %}
                {% endblock %}
            </div><!-- jambotron-->
        </div> <!-- Container -->

    </body>
</html>